@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FDFBF7;
  /* Rich Cream Background */
  overflow-x: hidden;
  color: #1A1A1A;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}