@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --color-beige-bg: #FDFBF7;
  --color-ruvera-gold: #AF9164;
  --color-midnight: #1A1A1A;

  --radius-blob-1: 50% 50% 40% 60% / 60% 50% 60% 40%;
  --radius-blob-2: 30% 70% 70% 30% / 30% 30% 70% 70%;
  --radius-blob-3: 60% 40% 30% 70% / 60% 30% 70% 40%;
  --radius-blob-4: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

/* Custom Global Styles */
body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: #FDFBF7;
  /* beige-bg */
  color: #1A1A1A;
  /* midnight */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}